@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Didact Gothic", sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
}

body {
  color: black;
}

header {
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: white;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
  position: sticky;
  top: 0px;
  left: 0px;
}

.navbar-top {
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  left: 0px;
}

.navbar-top-right {
  display: flex;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
}

.navbar-top-search {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width: 50%;
}

.form-search {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45.2px;
}

.search-i-c {
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
  border: 1px solid #8b8ba3;
  border-right: 0px solid transparent;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-i {
  /* height: 45.2px;*/
  height: 25px;
  margin-left: 4px;
  opacity: 0.5;
}

input {
  /* padding: 11px; */
  width: 90%;
  /* height: 47px; */
  border: 1px solid #8b8ba3;
  font-weight: 500;
  color: #cecede;
  font-size: 1rem;
}

.q-text {
  border-left: 0px solid transparent;
  height: 45px;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.q-text:focus {
  outline: none;
  color: black;
}

.navbar-top-rightsection {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.navbar-top-rightsection-button {
  margin: 0 1.1rem;
}

.download {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download ion-icon {
  font-size: 2rem;
  margin-right: 6px;
}

.vl {
  height: 40px;
  width: 1px;
  background-color: #cecede;
}

.navbar-top-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.navbar-top-cart {
  margin-right: 2.25rem;
}

.navbar-top-logo {
  color: #570d48;
  margin: 0 2rem;
}

.hr {
  border: 0.5px solid #cecede;
  width: 100%;
}

.navbar-top-logo img {
  height: 36px;
  width: 156px;
}

.navbar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  height: 52px;
}

.navbar-bottom-filters {
  margin: 0 2px;
}

.main-front {
  width: 80%;
  margin: 3rem 2rem;
  display: flex;
  justify-content: space-between;
}

.main-front-left {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.main-front-right img {
  border: 2px solid transparent;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.main-front-left-top {
  font-size: 48px;
  font-weight: bolder;
  font-style: bold;
  color: #353543f0;
}

.main-front-left-middle {
  display: flex;
  justify-content: space-between;
}

.main-front-left-middle-i {
  display: flex;
}

.main-front-left-middle-i img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-right: 1px solid #bda0b7;
  border-bottom: 1px solid #bda0b7;
  border-radius: 50%;
  margin: 0 8px 0 0;
}

.main-front-left-middle .vl1 {
  height: 40px;
  width: 0.5px;
  background-color: #8b8ba3;
}

.main-front-left-bottom {
  background-color: #9f2089;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 65%;
  justify-self: start;
  border-radius: 4px;
}

.main-front-left-bottom img {
  margin: 6px 0;
  margin-right: 10px;
}

.partition {
  height: 44px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.partition p {
  margin-top: 20px;
  font-size: 36px;
  color: #353543f0;
}

.partition-left {
  background-color: #570d48;
  height: 0.5px;
  width: 20%;
}

.footer-top {
  padding: 60px 16px 40px;
  display: flex;
}

.footer-bottom {
  border: 2px solid #8b8ba3;
}

.sec1 {
  width: 31%;
  height: 250px;

}

.sec1 p{
  color: rgb(97, 97, 115);
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-weight: 500;
  max-width: none;
  font-size: 18px;
  margin: 20px 0px;
  padding: 10px;
}

.sec1 h3 {
  font-size: 32px;
  /* 18px */
}

.sec1 a img{
  max-width: none;
  width: 40%;
  height: 50px;
  margin-right: 5px;
}

.sec2 {
  width: 12%;
  height: 210px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sec2 p {
  color: rgb(97, 97, 115);
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-weight: 500;
  max-width: none;
  font-size: 18px;
  margin-bottom: 16px;
}

.sec3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 21%;
  height: 250px;
}

.sec3 h3 {
  font-size: 20px;
}

.sec3 img {
  height: 24px;
  width: 24px;
}

.sec4 {
  width: 24%;
  height: 250px;
}

.sec4 p {
  font-size: 12px;
  color: rgb(97, 97, 115);
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-weight: 500;
  max-width: none;
}

@media (max-width: 1070px) {
  .main-front {
    flex-direction: column;
    align-items: center;
  }

  .main-front-left-bottom {
    justify-self: center;
  }

  .br {
    display: none;
  }
}

@media (max-width) {
  .arshad {
    background-color: #cecede;
  }
}
